h1 {
  display: flex;
  justify-content: center;
  margin-right: 5%;
  font-size: 2.1em;
  margin-top: -2%;
  z-index: 5;
}

body {
  font-family: 'ChicagoFLFRegular',sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  font-size: 1.6vw;
  background-size: cover;

}

#achievement-get{
  background-color: none;
  color: green;
  position: fixed;
  margin-left: 35%;

}
#mainmenubutton{
  width: 10%;
  border: 3px solid black;
  background-color: lightgreen;
  text-align: center;

  margin-top: -10%;
  margin-left: 30%;
  z-index: 8;
  position: fixed;

}

#numberGenerator {
  /* border: 2px solid black; */
  position: fixed;
  width: 50%;
  margin-left: 0%;
  margin-top: 28%;
}


#tester{
  background-color:white;
}
.loadbar {
    background-color: lightgreen;
    z-index: 0;
  margin-left:91%;
  margin-top: -147%;
  display: flex;
  height: 155px;
  opacity: 0.5;
  width:10%;
}
#menudisplay {
  background-color: black;
  width: 100%;
  margin-top: 6.3%;
  margin-left: 20%;
  position: fixed;
  height:75%;
  width:60%;
  z-index: 10;
  opacity: 0.9;
  color: white;
  border: 10px solid lightgreen;
  font-family: helvetica;
  display: none;
  z-index:10;
}

.unlockSelectorRow{
  border: 2px solid white;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin-top: 5%;
  position: fixed;
}

#catselector {
  margin-left: 36%;
  background-color: white;
  margin-top: -3%;
  position: fixed;
  opacity: 1.0;
}

#catpreview {
  opacity: 1;
}

#bgselector {
  margin-left: 36%;
  margin-top: 15%;
}
#rightarrow {
 width: 10%;
 margin-left: 50%;
 margin-top: 0%;
 opacity: 1.0;
position: fixed;

}

#rightarrowbg {
 width: 10%;
 margin-left: 50%;
 margin-top: 18%;
 opacity: 1.0;
position: fixed;

}
#leftarrowbg {
  width: 10%;
  margin-left: 25.5%;
  margin-top: 18%;
  opacity: 1.0;
  transform: rotate(180deg);
position: fixed;
}


#leftarrow {
  width: 10%;
  margin-left: 25.5%;
  margin-top: 0%;
  opacity: 1.0;
  transform: rotate(180deg);
position: fixed;
  }

#menutext {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -20%;
}

#titlebox {
  z-index:2;

  width: 45%;
  margin-top: -2%;
}

#exitbutton {
  border: 1px solid white;
  margin-left: 93%;
  margin-top: 2%;
  font-size: 3vw;
  text-align: center;
  width: 5%;
}

#exitbutton:hover {
  color: red;
}
#mainkitty {
  align-content: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 0%;
  width: 75%;
  position: fixed;
  z-index: 0;
  cursor: pointer;
}

#mainclick {
  width: 58%;
}


#input {
  border: none;
  box-sizing: content-box;
}


#buttongrid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  margin-left: 45%;
  margin-bottom: 60%;
  margin-top: -11%;
  z-index: 3;
  font-family: 'ChicagoFLFRegular',sans-serif;
  font-size: 0.5em;
  width: 51%;
  text-align: center;
  position: fixed;
}

#buttongrid > .removegridborder {
  background: none;
}

.griditem {
  border: 5px solid black;
  padding: 2%;
  z-index: 3;
  cursor: pointer;
  font-size: 1.2vw;
  color: black;
  background-color: white;
}

.griditem div {
  z-index:4;
}

.griditem img {
  width: 50%;

}
#numberbox { /* where number is displayed */
  font-family: helvetica;
  background-color: wheat;
  margin-left: 0%;
  margin-top: 30%;
  font-size: 3em;
  width: 100%;
  text-align: left;
  z-index: 2;
  position: fixed;
  border: 2px solid black;
  opacity: 0.8;
  color: black;

}

#buy-scratch{
  background-color: #ffbb72
}

#buy-catnip{
  background-color:#fcff7f
}

#buy-yarnball{
  background-color:lightgreen;
}

#buy-laser{
  background-color:#f29b85
}
#shades {
  width:25%;
  z-index: 7;
  position: fixed;
  bottom: 28%;
  left: 0.5%;
  display: none;
}

#notification-achievement {

  color: green;
  background-color: wheat;
  width: 25%;
}


/* loading bars */
#scratchBar {
  width: 0;
    height: 30px;
    background-color: #ffbb72;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#catnipBar {
  width: 0;
    height: 30px;
    background-color: #fcff7f;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#yarnballBar {
  width: 0;
    height: 30px;
    background-color: lightgreen;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

#laserBar {
  width: 0;
    height: 30px;
    background-color: #f29b85;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

.costhighlight {
  background-color: white;
}

.removegridborder {
  border: none;
  background: none;
  display: hidden;
}

.valuehighlight {
  color: #85a524;
}

.unlock {
  font-weight: 900;
  font-size: 3.5em;
}

.unlock .letter {
  display: inline-block;
  line-height: 1em;
}

/* mobile styling */
@media only screen and (max-width: 415px) {
    #buttongrid{
      position: fixed;
      width: 45%;
      font-size: 1vw;
      margin-top: -40%;
      background: none;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      border: 1px;
      margin-left: 53%;
      height: 75%
    }
    #shades {
      width:90%;
      z-index: 2;
      position: fixed;
      bottom: 37%;
      left: -3%;
    }

#mainmenubutton {
  display: none;
}
#titlebox{
  width: 50%;
  height: 20%;
  margin-top: 1%;
  font-size: 5vw;
text-align: center;
}

#titlebox img {
  width: 100%;
  padding-left: 5%;
}
    #numberbox {
      margin-top: 80%;
      width: 100%;
      font-size: 5em;
    }

    #mainkitty {
      position: fixed;
      margin-left: -10%;
      margin-top: -7%;
    }

#mainclick {
  width: 200%;
}

    .griditem {
      font-size: 2vw;
      background-color: none;
      border: 1px solid black;
    }

#gridScratch{
  display: none;
    margin-left: -200%;
    z-index: 3;
    margin-top: -50%;

    width:0.1;
}

#gridCatnip {
  display: none;
    margin-left: -200%;
    z-index: 3;
    margin-top: -40%;

    width:0.1;
}

#gridYarnball {
display: none;
    margin-left: -200%;
    z-index: 3;
    margin-top: -50%;

    width:0;
}



#gridLaser {
  display: none;
    margin-left: -200%;
    z-index: 3;
    margin-top: -50%;

    width:0;
}

.loadbarMobile {
display: grid;
  margin-left: -200%;
  z-index: 3;
  margin-top: -50%;

  width:0;
  display: none;
}

h1 {
  margin-left: 10%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
